@import '../../../../styles/variables';

.cart-element-container {
  background: $very-dark-blue;
  border-radius: 5px;
  padding: 5px 8px;

  .price {
    color: $accent;
    flex: 1 0 50px;
    font-weight: bold;
  }

  .name {
    flex: 1 1 auto;
    font-weight: 400;
  }
}