<div class="details-container">
  <mat-card class="details-card">
    <img
      mat-card-image
      src="{{ starship.name | starshipImage:400 }}"
    >

    <mat-card-content class="card-content">
      <h3 class="title">
        {{ starship.name }}
      </h3>

      <div class="bottom-section">
        <div class="list">
          <p class="field">
            <span class="title">
              Model:
            </span>
            <span class="value">
              {{ starship.model }}
            </span>
          </p>
  
          <p class="field">
            <span class="title">
              Crew:
            </span>
            <span class="value">
              {{ starship.crew }}
            </span>
          </p>
  
          <p class="field">
            <span class="title">
              Passengers:
            </span>
            <span class="value">
              {{ starship.passengers }}
            </span>
          </p>
  
          <p class="field">
            <span class="title">
              Length:
            </span>
            <span class="value">
              {{ starship.length }}
            </span>
          </p>
  
          <p class="field">
            <span class="title">
              Cargo capacity:
            </span>
            <span class="value">
              {{ starship.cargoCapacity }}
            </span>
          </p>
  
          <p class="field">
            <span class="title">
              Cost:
            </span>
            <span class="value">
              {{ starship.costInCredits | currency }}
            </span>
          </p>
        </div>

        <div class="action-container">
          <button
            (click)="addToCart()"
            class="action-button"
            mat-raised-button
          >
            Add to cart
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>