@import "../../../styles/variables";
@import "../../../styles/media";

.details-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  width: 100%;

  @include laptop-and-up {
    justify-content: center;
    margin-left: 1rem;
    width: calc(100vw - 300px - 100px);
  }

  .details-card {
    background: $light-blue;
    color: $white;
    width: auto;

    .card-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100px;

      .title {
        font-family: $second-font;
        font-size: 26px;
      }

      .bottom-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

        @include laptop-and-up {
          flex-direction: row;
        }

        .list {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;

          .field {
            font-size: 1rem;
            line-height: 1.125rem;
            margin: 3px 0;

            @include laptop-and-up {
              font-size: 1.125rem;
              line-height: 1.25rem;
            }
    
            .title {
              font-size: 0.65rem;

              @include laptop-and-up {
                font-size: 0.75rem;
              }
            }
    
            .value {
              font-weight: 400;
            }
          }
        }

        .action-container {
          align-items: center;
          display: flex;
          flex: 1 1 auto;
          justify-content: center;
          margin-top: 1rem;

          @include laptop-and-up {
            flex: 0 0 160px;
            margin-top: 0;
          }

          .action-button {
            background: $accent;
            color: $white;
            font-size: 17px;
            line-height: 30px;
            padding: 3px 10px;

            &:hover {
              background: $very-dark-blue;
              color: $accent;
            }

            &:disabled {
              background: $gray;
              color: $light-text;
            }
          }
        }
      }
    }
  }
}