<div class="cart-container">
  <mat-card class="cart-card">
    <mat-card-header>
      <mat-card-title class="align-center card-title">
        <mat-icon class="cart-header-icon">
            shopping_cart
        </mat-icon>
        <span>
          Cart ( {{cartService.starships.length }} )
        </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="cart-list">
        <app-cart-element
          *ngFor="let starship of cartService.starships; let i = index; trackBy: trackByIndex"
          [index]="i"
          [starship]="starship"
        ></app-cart-element>
      </div>

      <div class="cart-summary-cost">
        <span>
          Sum: {{ cartService.finalCost | currency }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
