@import '../../../styles/variables';
@import '../../../styles/media';

.cart-container {
  height: auto;
  margin-bottom: 1rem;
  width: 252px;

  @include tablet-and-up {
    width: 280px;
  }

  .cart-card {
    background: $dark-blue;
    color: $white;

    .card-title {
      .cart-header-icon {
        margin-right: 15px;
      }
    }

    .cart-list {
      border-radius: 5px;
      border: 2px dashed $white;
      min-height: 100px;
      padding: 10px;
    }

    .cart-summary-cost {
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      margin-top: 10px;
      text-align: end;
    }
  }
}