@import '../../../styles/variables';


.cart-container {
  height: auto;
  width: 260px;

  .cart-card {
    background: $dark-blue;
    color: $white;

    .card-title {
      .cart-header-icon {
        margin-right: 15px;
      }
    }

    .cart-list {
      border-radius: 5px;
      border: 2px dashed $white;
      min-height: 100px;
      padding: 10px;
    }
  }
}