<div class="app-content full-center contact-container">
  <mat-card class="contact-card">
    <mat-icon class="contact-header-icon">
      contact_mail
    </mat-icon>

    <mat-card-header>
      <mat-card-title class="card-title">
        Contact
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="text-row">
        <p class="text">
          divante@divante.pl
        </p>
      </div>

      <div class="text-row">
        <p class="text">
          tel. 123-123-123
        </p>
        <p class="text">
          tel. 999-999-999
        </p>
      </div>

      <div class="text-row">
        <p class="text">
          ul. Dmowskiego 17
        </p>
        <p class="text">
          00-000 Wrocław
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
