@import "../../styles/variables";
@import "../../styles/media";

.contact-container {
  padding: 1.5rem;

  .contact-card {
    align-items: center;
    color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 350px;
    padding: 1.5rem;
    width: 280px;

    @include mobile-and-up {
      width: 650px;
    }

    .contact-header-icon {
      color: $accent;
      font-size: 80px;
      height: 80px;
      margin-bottom: 1.25rem;
      width: 80px;
    }

    .card-title {
      font-size: 1.75rem;
      line-height: 1.875rem;

      @include mobile-and-up {
        font-size: 2rem;
        line-height: 2.125rem;
      }
    }

    .text-row {
      margin-bottom: 20px;

      .text {
        align-items: center;
        display: flex;
        font-size: 1rem;
        line-height: 1.125rem;
        margin: 8px;

        @include mobile-and-up {
          font-size: 1.25rem;
          line-height: 1.375rem;
        }

        .text-icon {
          margin-right: 10px;
        }
      }
    }
  }

}