<div class="full-center contact-container">
  <mat-card class="contact-card">
    <mat-icon class="contact-header-icon">
      contact_mail
    </mat-icon>

    <mat-card-header>
      <mat-card-title class="card-title">
        Contact
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="full-center flex-direction-column">
      <div class="text-row">
        <p class="text">
          <mat-icon class="text-icon">
            mail
          </mat-icon>
          <span>
            673mj85rt48@meantinc.com
          </span>
        </p>
      </div>

      <div class="text-row">
        <p class="text">
          <mat-icon class="text-icon">
            local_phone
          </mat-icon>
          <span>
              907-630-9534
          </span>
        </p>
        <p class="text">
          <mat-icon class="text-icon">
            local_phone
          </mat-icon>
          <span>
            907-630-1234
          </span>
        </p>
      </div>

      <div class="text-row">
        <p class="text">
        <mat-icon class="text-icon">
          location_city
        </mat-icon>
        <span>
          264  Timbercrest Road, Alaska, Rowan Bay, 99830, USA
        </span>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
