.flex {
  display: flex;
}

.full-center {
  align-items: center;
  display: flex !important;
  justify-content: center;
}

.justify-space-between {
  align-items: center;
  display: flex !important;
  justify-content: space-between;
}

.align-center {
  align-items: center;
  display: flex !important;
}

.flex-direction-column {
  flex-direction: column;
}
