// Colors
$white:         #ffffff;
$gray:          #D6D6D6;
$black:         #000000;

$light-text:    #858585;
$dark-text:     #424242;

$light-blue:    #155BCC;
$dark-blue:     #164FAC;
$very-dark-blue:rgb(12, 56, 126);

$accent:        #2FDA7F;
$background:    #efefef;
$search:        #F5F5F5;

// Fonts
$main-font:    'Roboto', sans-serif;
$second-font:  'Lato', sans-serif;
$main-weight:   300;


