<a
  [routerLink]="setRedirectionUrl()"
  class="list-element-container"
>
  <mat-card class="list-element-card">
    <img
      [src]="getStarshipImage() || 'https://via.placeholder.com/150'"
      mat-card-image
    >

    <mat-card-content class="card-content">
      <p class="field">
        <span class="title">
          Name:
        </span>
        <span class="value">
          {{ starship.name }}
        </span>
      </p>

      <p class="field">
        <span class="title">
          Cost:
        </span>
        <span class="value">
          {{ starship.costInCredits | currency }}
        </span>
      </p>
    </mat-card-content>
  </mat-card>
</a>
