@import "../../../../styles/variables";

.list-element-container {
  height: 260px;
  margin: 10px;
  width: 200px;

  .list-element-card {
    background: $light-blue;
    color: $white;

    .card-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .field {
        font-size: 14px;
        line-height: 16px;
        margin: 3px 0;

        .title {
          font-size: 12px;
        }

        .value {
          font-weight: 400;
        }
      }
    }
  }
}