@import "../../../../styles/variables";

.list-element-container {
  height: 260px;
  width: 200px;

  .list-element-card {
    background: $light-blue;
    color: $white;

    .card-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .description {
        margin: 0;
      }
    }
  }
}