<mat-toolbar class="toolbar">
  <div class="toolbar-content">
    <div class="title">
      <p>
        Divante Example shop app
      </p>
    </div>

    <div class="navigation">
      <button class="navigation-item" mat-raised-button>
        <a
          class="navigation-item-routing"
          routerLink="home"
          routerLinkActive="active"
        >
          Home
        </a>
      </button>
      <button class="navigation-item" mat-raised-button>
        <a
          class="navigation-item-routing"
          routerLink="about"
          routerLinkActive="active"
        >
          About
        </a>
      </button>
      <button class="navigation-item" mat-raised-button>
        <a
          class="navigation-item-routing"
          routerLink="contact"
          routerLinkActive="active"
        >
          Contact
        </a>
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>