<mat-toolbar class="toolbar">
  <div class="toolbar-content">
    <div class="title">
      <p>
        Star Wars starships shop
      </p>
    </div>

    <div class="navigation">
      <button class="navigation-item" mat-raised-button>
        <a
          class="navigation-item-routing"
          routerLink="home"
          routerLinkActive="active"
        >
          Home
        </a>
      </button>
      <button class="navigation-item" mat-raised-button>
        <a
          class="navigation-item-routing"
          routerLink="about"
          routerLinkActive="active"
        >
          About
        </a>
      </button>
      <button class="navigation-item" mat-raised-button>
        <a
          class="navigation-item-routing"
          routerLink="contact"
          routerLinkActive="active"
        >
          Contact
        </a>
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<page-loader
  colorA="#155BCC"
  colorB="#2FDA7F"
  height="5"
>
</page-loader>
