.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 300px - 100px);

  .single-starship {
    height: auto;
    margin: 10px;
    width: 260px;
  }
}