@import '../../styles/media';

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;

  @include tablet-and-up {
    align-items: flex-start;
    padding: 2.5rem;
  }

  @include laptop-and-up {
    flex-direction: row;
  }
}